{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
</head>
<body>
    <div class="container">
        <h1>Task Manager</h1>
        <div class="button-container">
            <!-- Link to the API endpoint for creating a task -->
            <a href="http://127.0.0.1:8000/api/tasks/" class="button" id="create-task-button">Create Task</a>
            <!-- Link to the API endpoint for viewing all tasks -->
            <a href="http://127.0.0.1:8000/api/tasks/" class="button" id="view-tasks-button">View All Tasks</a>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
